/*bootstrap */
/* Bootstrap  barra navegacion CSS */

/* Si quieres un color diferente para los elementos activos: */


/* Para el dropdown, si también quieres que los items del dropdown sean negros */




/* reset de css */


/* esto esta bueno a apllica 
.grid-novedades-video {
display: grid;
grid-template-columns: repeat(3, 1fr);  crea 4 columnas de igual tamaño 
grid-template-rows: repeat(2, 400px);  crea 2 filas de igual tamaño 
justify-items: center;
align-items: end;
justify-content: space-around;
align-content: space-between;

; */

/* titulo H */






/* alineadioon imagenes */





/* body --------------------------------------------------------------------*/




/* estilo aplicado padre ------------------------------------------- */

 /* estilo aplicado hijo */
 
    
 

 












    






/*bootstrap */
/* Bootstrap  barra navegacion CSS */

/* Si quieres un color diferente para los elementos activos: */


/* Para el dropdown, si también quieres que los items del dropdown sean negros */

   

/* en el index--------------------------------------------------------------------------------------- */






/* inicio en rama historia----------------------------------------------------------------------- */



/* sector productos------------------------------------------------------------------------------------ */


    /* sector novedades------------------------------------------------------------------------------------ */


 


/* sector contacto -------------------------------------------------------------------*/





/* sector para transformar en visualizacion de celular-------------------------------
-------------------------------------------------------------------------------------*/









