@use "./variables.scss" as*;
@use "./mediaq.scss" as*;


  .contenedor-novedades {
  display: grid;
  grid-template-areas:
    "texto6 texto6 texto6"
    "foto18 foto19 foto20"
    "subtexto8 subtexto8 subtexto8"
    "video1 video1 video1";
  grid-template-columns: 30% 30% 30%; // Usamos fr para mejor distribución
  grid-template-rows: auto auto auto auto;  // 'auto' se ajusta al contenido
  justify-items: center;
  align-items: center;
  gap: 10px; // Espacio entre elementos (más moderno que márgenes individuales)
  padding: 20px;

  .titulo-novedades {
    grid-area: texto6;
 
   
     @include estilo-titulo;
  }
.contenedor-imagennovedades {
  width: auto; // Ajusta según el diseño
  height: auto; // Ajusta según el diseño 
  border: red 1px   solid  ;
  padding: 10px;
  margin: 20px;
  text-align: center; 
  img {
    width: 100%; // Ocupa todo el espacio disponible en su celda
    height: auto; // Mantiene la proporción
    border-radius: 0.625rem; // 10px; (Usar rem para accesibilidad)
   
  }
  img:hover {
    transform: rotate(20deg); // Efecto de zoom al pasar el mouse
    
  }


  .novedades-img1 {
    grid-area: foto18;
  }

  .novedades-img2 {
    grid-area: foto19;
  }

  .novedades-img3 {
    grid-area: foto20;
  }
  #boton-vendernovedades {
    background-color: green;
    color:black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;

    &:hover {
      background-color: black;
    }
  }
}

  .texto-novedades {
    grid-area: subtexto8;
    @include estilo-subtitulo;
  }

  .video-novedades {
    grid-area: video1;
    position: relative;
    width: 90%;
    margin: 0 auto;
    max-width: 768px;
    padding-bottom: 56.25%; /* 16:9 aspect ratio (height / width * 100) */
    height: 0; /* Importante: altura debe ser 0 */
    overflow: hidden; /* Evita scrollbars innecesarios */
}

.video-novedades iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
  
}

