@use "./variables.scss" as*;
@use "./mediaq.scss" as*;



.contenedor-historia{
display: grid;
grid-template-areas:
"texto4 texto4  "
"subtexto1 subtexto1" 
"antiguo1 parrafo1"
"subtexto2 subtexto2" 
"parrafo2 antiguo2"
"subtexto3 subtexto3" 
"antiguo3 parrafo3"
;
grid-template-columns: 
40% 40% ; 
grid-template-rows: auto auto auto auto auto auto auto;
justify-items: center; 
align-items: center; 
justify-content: center; 

.titulo-historia {
    grid-area: texto4;
    color: rgb(0, 0, 0); /* color del texto */
    text-align: center; /* texto centrado */
   
    font-weight: bold; /* negrita */
    margin-bottom: 15px; /* margen inferior */
     @include estilo-titulo;
   
}
.titulo-epocas1{
   
 grid-area: subtexto1;
 
    @include estilo-subtitulo;

}
img {
    width: 100%; /* ancho de la imagen */
    height: 70%; /* alto automático para mantener la proporción */
    border-radius: 10px; 
    margin: 10px; 
    border: red 2px solid;

}
img:hover {
    transform: translate(5px, 10px); /* Aumenta el tamaño al pasar el mouse */
    transition: transform 0.3s ease; /* Suaviza la transición */
    border: rgb(0, 0, 0) 2px solid; /* Cambia el borde al pasar el mouse */

}
    .imagen-historia1 {
    grid-area: antiguo1;
}
.contenedor-historia p {
    margin: 10px;
}


.parrafohistoria1{
    grid-area: parrafo1;
}

.titulo-epocas2{
    @extend .titulo-epocas1;
 grid-area: subtexto2;


  


}

.imagen-historia2 {
    grid-area: antiguo2;
}
.parrafohistoria2{
    grid-area: parrafo2;
}

.titulo-epocas3{
    @extend .titulo-epocas1;
 grid-area: subtexto3;
   

}

.imagen-historia3 {
    grid-area: antiguo3;
}

.parrafohistoria3{
    grid-area: parrafo3;
}

}






